Source: zuul
Maintainer: Paul Belanger <paul.belanger@polybeacon.com>
Section: python
Priority: optional
Build-Depends-Indep: debhelper (>= 9),
                     dh-python,
                     python-all (>= 2.6.6-3),
                     python-daemon,
                     python-pbr (<< 1.0),
                     python-pbr (>= 0.5.21),
                     python-setuptools (>= 0.6b3),
                     python-sphinx,
                     python-sphinxcontrib.blockdiag (>= 0.5.5),
                     python-sphinxcontrib.programoutput
Standards-Version: 3.9.6
Homepage: https://launchpad.net/zuul
Vcs-Git: git://github.com/pabelanger/zuul-deb.git
Vcs-Browser: https://github.com/pabelanger/zuul-deb

Package: zuul
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}, adduser
Description: Trunk gating system
 Zuul is a program that is used to gate the source code repository of a project
 so that changes are only merged if they pass tests.
 .
 The main component of Zuul is the scheduler. It receives events related to
 proposed changes (currently from Gerrit), triggers tests based on those events
 (currently on Jenkins), and reports back.
