Source: zuul
Maintainer: Paul Belanger <paul.belanger@polybeacon.com>
Section: python
Priority: optional
Build-Depends: debhelper (>= 8.0.0),
 python (>= 2.6)
Build-Depends-Indep:
 python-extras,
 python-git (>= 0.3.2~RC1),
 python-jenkins,
 python-lockfile,
 python-nose,
 python-paramiko,
 python-paste,
 python-setuptools,
 python-sphinx (>= 1.0.7+dfsg),
 python-voluptuous (<< 0.7),
 python-webob,
 python-yaml
Standards-Version: 3.9.3
X-Python-Version: >= 2.6
Homepage: https://launchpad.net/zuul
Vcs-Git: git://github.com/pabelanger/zuul-deb.git
Vcs-Browser: https://github.com/pabelanger/zuul-deb

Package: zuul
Architecture: all
Depends: libjs-jquery,
 libjs-underscore,
 python-daemon,
 python-extras,
 python-git (>= 0.3.2~RC1),
 python-jenkins,
 python-lockfile,
 python-paramiko,
 python-paste,
 python-voluptuous (<< 0.7),
 python-webob,
 python-yaml,
 ${misc:Depends},
 ${python:Depends}
Suggests:
 jenkins (>= 1.426),
 python-statsd
Description: Trunk gating system
 Zuul is a program that is used to gate the source code repository of a project
 so that changes are only merged if they pass tests.
 .
 The main component of Zuul is the scheduler. It receives events related to
 proposed changes (currently from Gerrit), triggers tests based on those events
 (currently on Jenkins), and reports back.
